
@media (min-width:200px) and (max-width:375px)
{
    .navbar-brand{
        margin-right: 300px !important;
      }
    .chkbtn{
        display: block;
        padding-top: 30px !important;
    }

    nav ul{
        width: 100%;
        height: auto;
        padding-bottom: 10px !important;
        background-color: #2c3e50;
        position: fixed;
        top: 65px;
        left: 100%;
        transition: all .9s;
        z-index: 99999 !important;
    }

    nav ul li{
        display: block;
        line-height: 30px;
        margin-top: 20px;
        width: 100% !important;
       
    }
    nav li a{
        color:white;
        border: none;
        font-size: 15px;
    }
    nav .head-btn{
        display: none !important;
    }
    #check:checked ~ nav ul{
        left: 0;
    }
    .carousel-text{
        padding-top: 50px !important;
        width:100%;
        text-align: center !important;
        left: 0;
        top: 0;
    }
    .carousel-text h5{
        font-size: 26px ;
    }
    .carousel-text p{
        padding: 0;
    }
    .carousel-text .slide-btn{
        margin-left: 0;
    }
    .owl-carousel .owl-item img{
        height: 65vh;
    }
    .item img{
        opacity: 1.2 !important;
    }
    .text-box, .text-det-box{
        width: 100%;
    }
    .container1{
        flex-direction: column;
    }
    .fbox{
        width: 100%;
        margin-bottom: 20px !important;
    }
    .container2{
        width: 90%;
        flex-direction: column;
    }
    .mid2-img img, .income-box img,.income-box{
        width: 100%;
    }
    #middle4{
        height: 450px;
    }
    .mid4-text, .mid5-text{
        width: 90%;
    }
    .mid4-text h3, .mid5-text h3{
        padding-left: 0;
    }
    .mid5-text h3{
        font-size: 35px;
    }
    #service{
        padding-top: 100px;
    }
    .container1{
        width: 90%;
        flex-direction: column;
    }
    .service-box, .con-box1{
        width: 100%;
        margin-bottom: 20px;
    }
    .con-box2{
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    .mid5-text .mid5-btn{
        margin-left: 0;
        text-align: center;
        margin-top: 0;
        margin-left: 20%;
    }
    
}
@media (min-width:376px) and (max-width:479px) {
    
    .navbar-brand{
        margin-right: 300px !important;
      }
    .chkbtn{
        display: block;
        padding-top: 30px !important;
    }

    nav ul{
        width: 100%;
        height: auto;
        padding-bottom: 10px !important;
        background-color: #2c3e50;
        position: fixed;
        top: 65px;
        left: 100%;
        transition: all .9s;
        z-index: 99999 !important;
    }

    nav ul li{
        display: block;
        line-height: 30px;
        margin-top: 20px;
        width: 100% !important;
       
    }
    nav li a{
        color:white;
        border: none;
        font-size: 15px;
    }
    nav .head-btn{
        display: none !important;
    }
    #check:checked ~ nav ul{
        left: 0;
    }

    .carousel-text{
        padding-top: 50px !important;
        width:100%;
        text-align: center !important;
        left: 0;
        top: 0;
    }
    .carousel-text h5{
        font-size: 26px ;
    }
    .carousel-text p{
        padding: 0;
    }
    .carousel-text .slide-btn{
        margin-left: 0;
    }
    .owl-carousel .owl-item img{
        height: 65vh;
    }
    .item img{
        opacity: 1.2 !important;
    }
    .container{
        width: 90%;
    }
    .text-box, .text-det-box, .mid2-img,.mid4-text,.income-box, .mid5-text{
        width: 100%;
    }
    .container1, .container2 {
        width: 90%;
       flex-direction: column;
}
.fbox,.service-box,.con-box1{
    width: 100%;
    margin-bottom: 30px;
}
.mid2-img img{
    width: 100%;
}
.mid4-text h3{
    width: 90%;
}
.mid4-video{
    width: 90%;
    margin-left: 0;
}
#service,#contact {
    margin-top: 30px;
}
.income-box img{
    width: 100%;
}
.mid5-text .mid5-btn{
    margin-left: 30%;
    margin-top: 0;
}
.con-box2{
    width: 100%;
    text-align: center;
}
}
@media(min-width:480px) and (max-width:579px) {
    .navbar-brand{
        margin-right: 300px !important;
      }
    .chkbtn{
        display: block;
        padding-top: 30px !important;
        margin-left: 150px;
    }

    nav ul{
        width: 100%;
        height: auto;
        padding-bottom: 30px !important;
        background-color: #2c3e50;
        position: fixed;
        top: 65px;
        left: 100%;
        transition: all .9s;
        z-index: 99999 !important;
    }

    nav ul li{
        display: block;
        line-height: 30px;
        margin-top: 20px;
        width: 100% !important;
       
    }
    nav li a{
        color:white;
        border: none;
        font-size: 15px;
    }
    nav .head-btn{
        display: none !important;
    }
    #check:checked ~ nav ul{
        left: 0;
    }
    .container{
        width: 90%;
    }
    .container1,.container2{
        width: 90%;
        flex-direction: column;
    }
    .text-box,.fbox,.text-det-box,.mid4-text,.service-box, .mid5-text,.con-box1{
        width: 100%;
        margin-bottom: 30px;
    }
    .carousel-text{
        padding-top: 50px !important;
        width:100%;
        text-align: center !important;
        left: 0;
        top: 0;
        margin:auto
    }
    .carousel-text h5{
        font-size: 36px ;
    }
    .carousel-text p{
        padding: 0;
       margin:15px !important;
       
    }
    .carousel-text .slide-btn{
        margin-left: 0;
    }
    .owl-carousel .owl-item img{
        height: 65vh;
    }
    .mid4-video{
        margin-left: 0;
}
.income-box,.con-box2 {
    
    width: 100% !important;
    margin-bottom: 30px;
    text-align: center;
}
.mid5-text .mid5-btn{
    margin-left:35%;
}
    }

@media(min-width:580px) and (max-width:768px) {
    .navbar-brand{
        margin-right: 300px !important;
      }
    .chkbtn{
        display: block;
        padding-top: 30px !important;
        margin-left: 350px;
    }

    nav ul{
        width: 100%;
        height: auto;
        padding-bottom: 30px !important;
        background-color: #2c3e50;
        position: fixed;
        top: 65px;
        left: 100%;
        transition: all .9s;
        z-index: 99999 !important;
    }

    nav ul li{
        display: block;
        line-height: 30px;
        margin-top: 20px;
        width: 100% !important;
       
    }
    nav li a{
        color:white;
        border: none;
        font-size: 15px;
    }
    nav .head-btn{
        display: none !important;
    }
    #check:checked ~ nav ul{
        left: 0;
    }

    .carousel-text{
        width: 100%;
        top: 0;
        left: 0;
    }
    .carousel-text h5{
        font-size: 45px;
    }
.container{
    width: 90%;
}
.text-box,.fbox,.service-box, .income-box{
    width: 100%;
    margin-bottom: 30px;
}
.income-box img{
    width: 100%;
}
.container1,.container2 {
    
    width: 90%;
    flex-direction: column;
    margin-bottom: 30px;
}
.text-det-box{
    width: 100%;
}
.mid2-img img{
    width: 100%;
}
.mid4-text, .mid4-video,.mid5-text,.con-box1{
    width: 100%;
}
.mid4-video{
    margin:10px 50px;
}
.overlay 
{
height: 600px;
}
#income{
    padding-bottom: 25px;
}
.con-box2{
    width: 100%;
    text-align: center;
    
}

.con-box2 a     {
    font-size: 18px !important;
}
}


}